<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.all">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopActivity"  android:theme="@style/AppTheme.PopMe"></activity>
        <activity android:name=".CartActivity"></activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Food_Description" />
        <activity android:name=".ProductPage" />
        <activity android:name=".UpdateFoodActivity" />
        <activity android:name=".Upload_Food" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".UpdateDeleteOrder" />
        <activity android:name=".OrderConfirmation" />
        <activity android:name=".CartPage" />
        <activity android:name=".Login" />
        <activity android:name=".FirstPage">

        </activity>
        <activity android:name=".ProfilePage"></activity>
        <activity android:name=".AdminLoginPage"></activity>
        <activity android:name=".AdminHome"></activity>
        <activity android:name=".AssignOrder" />
        <activity android:name=".feedbackUpdate" />
        <activity android:name=".feedback" > <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".Feed" />
        <activity android:name=".DriverDetails" />
        <activity android:name=".PaySuccess" />
        <activity android:name=".Paydlt"></activity>
        <activity android:name=".Payment"></activity>
        <activity android:name=".help" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Hom" />
        <activity android:name=".EditResponse" />
        <activity android:name=".Question" />
        <activity android:name=".GooglePlay" />

    </application>

</manifest>